.f {
    background-color: #fffdd0;
    color: 	#DC143C;
    border-radius: 12px;
    font-size: 20px;
    font-family: Georgia, serif;
    list-style-type: none;
    display: inline-block;
    padding: 10px;
}

.m{
    background-color: #4CAF50;
    color: rgb(0, 0, 0);
    border-radius: 12px;
    font-size: 20px;
    font-family: lucida, monospace;
    list-style-type: none;
    display: inline-block;
    padding: 10px
}

.buttonBlock {
    display:block;
    border: 10px solid #000000;
    width:80%;
    height: auto;
    background-color: rgba(247, 178, 237, 0.7);;
    border-radius: 10px;
    text-align: center;
    margin: 10px auto;
    padding: 10px;
}

body{
    background-color: antiquewhite;
}

input[type=text] {
    width: 70%;
    font-size: 20px;
}